body {
    background-color: #A7A7A7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color:grey;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
nav {
    border: 3px dashed darkblue;
    border-radius: 10px;
    background-color: rgb(194, 99, 99);
    text-align: center;
    padding: 20px;
    margin: 20px;
}

nav a {
    border: 3px dashed rgb(0, 0, 255);
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(184, 67, 67);
    text-align: center;
    margin: 20px;
    font-size: 25px;
}

.imageds {
    text-align: center;
}
main img {
    border: 2px solid blue;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
}
footer {
    padding: 10px;
    border: 2px dashed red;
    background-color:rgba(251, 117, 117, 0.572);
    border-radius: 20px;
}

p{
    font-size: 20px;
}
